<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Investor <small>.Aparkost</small></h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Jenis Akun</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="account" ng-model="data.investor.accountType"  ng-init="data.investor.accountType = data.investor.accountType || 'INVESTASI'" >
                                    <option value="INVESTASI">Investasi</option>
                                    <option value="HIBAH">Hibah</option>
                                </select>
                            </div>
                            <div class="form-group " ng-show="data.investor.accountType === 'INVESTASI'">
                                
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="data.cInvestor.accountId" > 
                                        <span class="input-group-btn"> 
                                            <button type="button" class="btn btn-info"><i class="fa fa-check"></i></button>
                                        </span>
                                    </div>
                                     <span class="m-b-none"><small>gen. Customer Id</small></span>
                                </div>
                               
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Nama Lengkap</label>
                            <div class="col-sm-5"><input type="text" class="form-control" ng-model="data.investor.fullName"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Jenis Kelamin </label>
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="account" ng-model="data.investor.gender" ng-init="data.investor.gender = data.investor.gender || 'M'">
                                    <option value="M">Pria</option>
                                    <option value="F">Wanita</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kelahiran</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model="data.investor.birthPlace">
                                <span class="help-block m-b-none"><small>Tempat</small></span>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control"  ng-model="data.investor.birthDate" ng-init="data.investor.birthDate = data.investor.birthDate || '2016-01-01'">
                                </div>
                                <span class="help-block m-b-none"><small>Tanggal</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="data.investor.emailAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kontak</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="data.investor.phoneNo"> 
                                <span class="help-block m-b-none" ><small>Telepon</small></span>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="data.investor.mobilePhoneNo"> 
                                <span class="help-block m-b-none"><small>Mobile</small></span>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="data.investor.socialMediaId"> 
                                <span class="help-block m-b-none"><small>Jejaring Sosial</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Alamat</label>
                            <div class="col-sm-5"><textarea class="form-control">{{data.investor.address}}</textarea></div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="data.investor.postalCode"> 
                                <span class="help-block m-b-none"><small>Kode Pos</small></span>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" name="account" ng-model="data.investor.province" ng-init="data.investor.province = data.investor.province || 'jakarta-selatan,-dki'">
                                    <option value="jakarta-selatan,-dki">Jakarta Selatan, DKI</option>
                                    <option value="jakarta-timur,-dki">Jakarta Timur, DKI</option>
                                </select>
                                <span class="help-block m-b-none"><small>Provinsi</small></span>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label" >NIK/Passport</label>
                            <div class="col-lg-4"><input type="text" class="form-control" ng-model="data.investor.nationalId"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Kewarganegaraan</label>
                            <div class="col-sm-3"><select class="form-control m-b" name="account" ng-model="data.investor.nationality"  ng-init="data.investor.nationality = data.investor.nationality || 'INDONESIA'">
                                    <option value="INDONESIA">INDONESIA</option>
                                    <option>MALAYSIA</option>
                                    <option>BRUNEI DARUSSALAM</option>
                                    <option>LAINNYA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Kopian Identitas</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-default">
                                            Browse&hellip; <input type="file" style="display: none;" multiple>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                                <span class="help-block m-b-none"><small>.jpg maximum 1024kB</small></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Pekerjaan</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" ng-model="data.investor.occupation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sektor Pekerjaan</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="account" ng-model="data.investor.jobSector" ng-init="data.investor.jobSector = data.investor.jobSector || 'PROFESSIONAL'">
                                    <option>PEMERINTAHAN</option>
                                    <option>SWASTA</option>
                                    <option>PENDIDIKAN</option>
                                    <option value="PROFESSIONAL">PROFESSIONAL</option>
                                </select>
                            </div>
                            <div class="col-lg-3"><input type="text" class="form-control" ng-model="data.investor.jobSectorDetail"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Perusahaan</label>
                            <div class="col-lg-5"><input type="text" class="form-control" ng-model="data.investor.employer"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Alamat Perusahaan</label>
                            <div class="col-sm-5"><textarea class="form-control">{{data.investor.employerAddress}}</textarea></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Telepon Perusahaan</label>
                            <div class="col-lg-2"><input type="text" class="form-control" ng-model="data.investor.employerPhoneNo"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Akun Bank</label>
                            <div class="col-sm-2"><select class="form-control m-b" name="account" ng-model="data.investor.bankAccount" ng-init="data.investor.bankAccount = data.investor.bankAccount || 'BCA'">
                                    <option>Danamon</option>
                                    <option>BSM</option>
                                    <option value="BCA">BCA</option>
                                    <option>BNI</option>
                                    <option>BRI</option>
                                </select>
                            </div>
                            <div class="col-lg-2"><input type="text" class="form-control"  ng-model="data.investor.bankAccountNo" ><span class="help-block m-b-none"><small>Rekening</small></span></div>
                            <div class="col-lg-4"><input type="text" class="form-control"  ng-model="data.investor.bankAccountReference"><span class="help-block m-b-none"><small>Referensi Akun</small></span></div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-white btn-sm" type="submit">Batalkan</button>
                                <button class="btn btn-success btn-sm" type="submit" ng-click="saveInvestor()">Simpan</button>
                                <button class="btn btn-primary btn-sm" type="submit" ng-click="nextToCovenant()">Lanjutkan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
