<div class="wrapper wrapper-content animated fadeInRight">
    <!--
    <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        {{helloText}}
                    </h1>
                    <small>
                        {{descriptionText}}
                    </small>
                    <button ng-click="getInvestor()">getInvestor</button>
                    <div>{{data.investors}}</div>
                </div>
            </div>
    </div>
    -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Investor <small>.Aparkost</small></h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Jenis Akun</label>
                            <!-- 
                            <div class="col-sm-8">
                                <label class="checkbox-inline"> 
                                    <input type="checkbox" icheck value="option1" id="inlineCheckbox1" /> Investasi 
                                </label> 
                                <label class="checkbox-inline">
                                    <input type="checkbox" icheck value="option2" id="inlineCheckbox2" /> Hibah 
                                </label> 
                                <label class="checkbox-inline">
                                    <input type="checkbox" icheck value="option3" id="inlineCheckbox3"/> Lainnya 
                                </label>
                            </div>
                            -->
                            <div class="col-sm-2"><select class="form-control m-b" name="account" ng-model="data.investor.accountType">
                                    <option value="Investment">Investasi</option>
                                    <option>Hibah</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" readonly="" ng-model="data.investor.accountId"><span class="help-block m-b-none"><small>Investor Id</small></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Nama Lengkap</label>
                            <div class="col-sm-5"><input type="text" class="form-control" ng-model="data.investor.fullName"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Jenis Kelamin </label>
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="account" ng-model="data.investor.gender">
                                    <option value="M">Pria</option>
                                    <option value="F">Wanita</option>
                                </select>
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-sm-2 control-label">Kelahiran</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  ng-model="data.investor.birthPlace">
                                <span class="help-block m-b-none"><small>Tempat</small></span>
                            </div>
                             <div class="col-sm-3">
                                 <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control"  ng-model="data.investor.birthDate">
                                </div>
                                <span class="help-block m-b-none"><small>Tanggal</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="data.investor.emailAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kontak</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="data.investor.phoneNo"> 
                                <span class="help-block m-b-none" ><small>Telepon</small></span>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="data.investor.mobilePhoneNo"> 
                                <span class="help-block m-b-none"><small>Mobile</small></span>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="data.investor.socialMediaId"> 
                                <span class="help-block m-b-none"><small>Jejaring Sosial</small></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Alamat</label>
                            <div class="col-sm-5"><textarea class="form-control">{{data.investor.address}}</textarea></div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="data.investor.postalCode"> 
                                <span class="help-block m-b-none"><small>Kode Pos</small></span>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" name="account" ng-model="data.investor.province">
                                    <option value="jakarta-selatan,-dki">Jakarta Selatan, DKI</option>
                                    <option value="jakarta-timur,-dki">Jakarta Timur, DKI</option>
                                </select>
                                <span class="help-block m-b-none"><small>Provinsi</small></span>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label" >NIK/Passport</label>
                            <div class="col-lg-4"><input type="text" class="form-control" ng-model="data.investor.nationalId"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Kewarganegaraan</label>
                            <div class="col-sm-2"><select class="form-control m-b" name="account" ng-model="data.investor.nationality">
                                    <option value="Indonesia">Indonesia</option>
                                    <option>Malaysia</option>
                                    <option>Brunei</option>
                                    <option>Lainnya</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Kopian Identitas</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-default">
                                            Browse&hellip; <input type="file" style="display: none;" multiple>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                                <span class="help-block m-b-none"><small>.jpg maximum 1024kB</small></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Pekerjaan</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" ng-model="data.investor.occupation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sektor Pekerjaan</label>
                            <!--
                            <div class="col-sm-10"><label class="checkbox-inline"> 
                                    <input type="radio" icheck value="option1" id="inlineCheckbox1" name="optionsRadios"> Pemerintah </label> <label class="checkbox-inline">
                                    <input type="radio" icheck value="option2" id="inlineCheckbox2" name="optionsRadios"> Swasta </label><label class="checkbox-inline">
                                    <input type="radio" icheck value="option2" id="inlineCheckbox2" name="optionsRadios"> Pendidikan </label><label class="checkbox-inline">
                                    <input type="radio" icheck value="option2" id="inlineCheckbox2" name="optionsRadios"> Lainnya </label>
                            </div>
                            -->
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="account" ng-model="data.investor.jobSector">
                                    <option>Pemerintah</option>
                                    <option>Swasta</option>
                                    <option>Pendidikan</option>
                                    <option value="Professional">Professional</option>
                                </select>
                            </div>
                            <div class="col-lg-3"><input type="text" class="form-control" ng-model="data.investor.jobSectorDetail"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Perusahaan</label>
                            <div class="col-lg-5"><input type="text" class="form-control" ng-model="data.investor.employer"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Alamat Perusahaan</label>
                            <div class="col-sm-5"><textarea class="form-control">{{data.investor.employerAddress}}</textarea></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Telepon Perusahaan</label>
                            <div class="col-lg-2"><input type="text" class="form-control" ng-model="data.investor.employerPhoneNo"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Akun Bank</label>
                            <div class="col-sm-2"><select class="form-control m-b" name="account" ng-model="data.investor.bankAccount">
                                    <option>Danamon</option>
                                    <option>BSM</option>
                                    <option value="BCA">BCA</option>
                                    <option>BNI</option>
                                    <option>BRI</option>
                                </select>
                            </div>
                            <div class="col-lg-2"><input type="text" class="form-control"  ng-model="data.investor.bankAccountNo" ><span class="help-block m-b-none"><small>Rekening</small></span></div>
                            <div class="col-lg-4"><input type="text" class="form-control"  ng-model="data.investor.bankAccountReference"><span class="help-block m-b-none"><small>Referensi Akun</small></span></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Aparkos</label>
                            <div class="col-lg-7">
                                <table class="table table-striped table-bordered table-hover"  >
                                    <thead>
                                        <tr>
                                            <th>Site</th>
                                            <th>Unit</th>
                                            <th>Alamat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="invest in data.investment"  class="gradeX">
                                            <td>{{invest.aparkostName}}</td>
                                            <td>Tower {{invest.aparkostTower}} Lt. {{invest.aparkostFloor}}, {{invest.aparkostNo}}</td>
                                            <td>{{invest.aparkostAddress}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4"><select class="form-control m-b" name="account">
                                    <option>THE 75 GKPN</option>
                                    <option>THE APARKOST IPB</option>
                                    <option>THE APARKOST HMG Caringin</option>
                                    <option>THE APARKOST Makassar</option>
                                </select>
                            </div>
                            <div class="col-sm-3"><select class="form-control m-b" name="account">
                                    <option>HMG Tower 1</option>
                                    <option>HMG Tower 2</option>
                                    <option>HMG Tower 3</option>
                                </select>
                            </div>
                            <div class="col-lg-1"><input type="text" class="form-control"><span class="help-block m-b-none"><small>Lantai</small></span></div>
                            <div class="col-lg-2"><input type="text" class="form-control"><span class="help-block m-b-none"><small>Unit</small></span></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-default btn-sm" type="submit">Tambahkan</button>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-white btn-sm" type="submit">Batalkan</button>
                                <button class="btn btn-success btn-sm" type="submit">Simpan</button>
                                <button class="btn btn-primary btn-sm" type="submit">Lanjutkan Akad</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
