<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Asset <small>.Aparkost</small></h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group  m-b-none">

                            <div class="form-group">
                                <label class="col-sm-1 control-label">Site</label>
                                <div class="col-sm-4">
                                     <span class="help-block m-b-none"><small>Nama</small></span>
                                    <div class="input-group date">
                                        <select class="form-control" ng-init="site.id === dInput.selectedSiteId" ng-change="selectSite()" ng-model="dInput.selectedSiteId" ng-options="site.id as site.name for site in data.site"></select>
                                        <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                     <span class="help-block m-b-none"><small>Tower</small></span>
                                    <div class="input-group date">
                                        <select class="form-control m-b"ng-init="tower.id === dInput.selectedTowerId" ng-change="selectTower()" ng-model="dInput.selectedTowerId" ng-options="tower.id as tower.name for tower in data.tower"></select>
                                        <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                     <span class="help-block m-b-none"><small>Lantai</small></span>
                                    <div class="input-group date">
                                        <select class="form-control m-b" ng-model="dInput.selectedFloor" ng-init="dInput.selectedFloor = 'G'" ng-change="selectFloorOfTower()">
                                            <option value="G">G</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                                    </div>
                                </div>       
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label"></label>
                                <div class="col-lg-4">

                                    <span class="help-block m-b-none"><small>Aparkost</small></span>
                                    <table class="table table-striped table-bordered table-hover dataTables-example" style="font-size: 85% !important;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Unit</th>
                                                <th colspan="2">Harga</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                            <tr ng-repeat="investment in data.investment"  class="gradeX">
                                                <td class="dt-center"><input type="radio" value="" name="radioAparkost"></td>
                                                <td>{{investment.aparkost.name}}</td>
                                                <td  align="center">Rp</td>
                                                <td  align="right">{{investment.marketRate|number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-5">

                                    <span class="help-block m-b-none"><small>Alamat</small></span>
                                    <div class="input-group date">
                                        <textarea class="form-control" readonly="" rows="3" cols="100">{{data.selectedSite.name}}, {{data.selectedSite.address}}, {{data.selectedSite.province}}</textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label"></label>
                                <div class="col-sm-2">
                                    <span class="help-block m-b-none"><small>Unit</small></span>
                                    <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-building"></i></span> <input type="text"  ng-value="dInput.prefix + toInt(dInput.index)" class="form-control" ng-model="dInput.name" readonly=""></div>
                                </div>
                                <div class="col-sm-2">
                                    <span class="help-block m-b-none"><small>Index</small></span>
                                    <div class="input-group date">
                                        <select class="form-control m-b" ng-model="dInput.index" ng-init="dInput.index = '1'">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                        </select>
                                        <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-sm-1 control-label"></span>
                                <div class="col-sm-3">
                                    <span class="help-block m-b-none"><small>Harga</small></span>
                                    
                                    <div class="input-group m-b"><span class="input-group-addon">Rp</span> <input type="text" class="form-control" ng-model="dInput.rate"></div>
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label"></label>
                                <div class="col-sm-11">
                                    <button class="btn btn-primary btn-sm" ng-click="save()">Simpan</button>
                                    <button class="btn btn-default btn-sm" type="submit">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
