<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Booking <small>.Aparkost</small></h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" name="covenantForm" >
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Kode Tanda Jadi</span>
                            <div class="col-sm-6">
                                <h1>BS000-DDMONYY</h1>
                                <p>Gunakan Kode booking ini untuk melunasi pembayaran.</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Penanggung Jawab</span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>Nama</small></span><p class="form-control-static">{{data.acquisition.staff.fullName}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>NIK</small></span><p class="form-control-static">{{data.acquisition.staff.nationalId}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Jabatan</small></span><p class="form-control-static">{{data.acquisition.staff.rank.name}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>

                            <div class="col-lg-6">
                                <span class="help-block m-b-none"><small>Daftar</small></span>
                                <table class="table table-striped table-bordered table-hover dataTables-example" style="font-size: 85% !important;">
                                    <thead>

                                        <tr>
                                            <th></th>
                                            <th>Unit</th>
                                            <th colspan="2">Harga</th>
                                            <th colspan="2">Harga Pasar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td align="right" rowspan="2"> </td>
                                            <td align="right"><b>{{data.acquisition.investments.length}} Unit</b></td>
                                            <td align="right">Rp</td>
                                            <td align="right"><b>{{data.acquisition.rate|number:2}}</b></td>
                                            <td align="right">Rp</td>
                                            <td align="right"><b>{{data.acquisition.marketRate|number:2}}</b></td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="5" >{{data.selectedSite.name}}, {{data.selectedSite.address}}, {{data.selectedSite.province}}</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="cInvestment in data.acquisition.investments"  class="gradeX">
                                            <td class="dt-center"><input type="radio" ng-model="dInput.selectedInvestmentId" ng-value="cInvestment.id" name="selectedAparkost" ng-change="selectCInvestment()"></td>
                                            <td>{{cInvestment.aparkost.tower.name}} lt. {{cInvestment.aparkost.floor}} no. {{cInvestment.aparkost.name}}</td>

                                            <td align="center">Rp</td>
                                            <td align="right">{{cInvestment.soldRate|number:2}}</td>
                                            <td align="center">Rp</td>
                                            <td align="right">{{cInvestment.marketRate|number:2}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <span class="help-block m-b-none"><small>Tambahkan</small></span>
                                <select class="form-control m-b" ng-init="site.id === dInput.selectedSiteId" ng-disabled="data.acquisition.investments.length" ng-change="selectSite()" ng-model="dInput.selectedSiteId" ng-options="site.id as site.name for site in data.site"></select>
                            </div>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Tower</small></span>
                                <select class="form-control m-b" ng-init="tower.id === dInput.selectedTowerId" ng-change="selectTower()" ng-model="dInput.selectedTowerId" ng-options="tower.id as tower.name for tower in data.tower"></select>
                            </div>

                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-lg-2">
                                <span class="help-block m-b-none">
                                    <small>Unit</small>
                                </span>
                                <select class="form-control m-b" ng-init="investment.id === dInput.selectedInvestmentId" ng-change="selectInvestment()"  ng-model="dInput.selectedInvestmentId" ng-options="investment.id as investment.aparkost.name for investment in data.investment"></select>
                            </div>
                            <div class="col-lg-2">
                                <span class="help-block m-b-none">
                                    <small>Lantai</small>
                                </span>
                                <input type="text" class="form-control" readonly="" ng-model="data.selectedInvestment.aparkost.floor">
                            </div>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Harga</small></span>
                                <div class="input-group m-b">
                                    <span class="input-group-addon">Rp</span> <input type="text" class="form-control text-right" ng-disabled="!data.acquisition.investor.id || !data.selectedInvestment.aparkost.floor" ng-model="data.selectedInvestment.soldRate" ng-value="data.selectedInvestment.soldRate = data.selectedInvestment.soldRate > 0 ? data.selectedInvestment.soldRate : data.selectedInvestment.marketRate ">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <span class="help-block m-b-none">
                                    <small>*</small>
                                </span>
                                <button class="btn btn-info " ng-disabled="!data.acquisition.investor.id" ng-click="addCInvestment()"><i class="fa fa-check"></i></button>
                                <button class="btn btn-warning " ng-disabled="!data.acquisition.investor.id" ng-click="removeCInvestment()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Tanda Jadi</small></span>
                                <div class="input-group m-b"><span class="input-group-addon">Rp</span> 
                                    <input type="text" class="form-control text-right" ng-disabled="!data.acquisition.investments.length && data.acquisition.investments.length <= 1" ng-model="temp.bookFee" ng-init="temp.bookFee = 0">
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-default" type="submit" ng-disabled="!data.acquisition.type" ng-click="covenantForm.$valid && saveAcquisition()">Booking</button>
                                <button class="btn btn-primary" type="submit" ng-disabled="!data.acquisition.type" ng-click="covenantForm.$valid && generateAkad()" >Batalkan</button>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
