<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Booking <small>.Aparkost</small></h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" name="covenantForm" >
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Kode Tanda Jadi</span>
                            <div class="col-sm-6">
                                <h1>{{data.booking.bookCode}}</h1>
                                <p>Gunakan Kode booking ini untuk melunasi pembayaran.</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Penanggung Jawab</span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>Nama</small></span><p class="form-control-static">{{data.booking.broker.fullName}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>NIK</small></span><p class="form-control-static">{{data.booking.broker.nationalId}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Jabatan</small></span><p class="form-control-static">{{data.booking.broker.rank.name}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>

                            <div class="col-lg-6">
                                <span class="help-block m-b-none"><small>Daftar</small></span>
                                <table class="table table-striped table-bordered table-hover dataTables-example" style="font-size: 85% !important;">
                                    <thead>

                                        <tr>
                                            <th></th>
                                            <th>Unit</th>
                                            <th colspan="2">Harga</th>
                                            <th colspan="2">Harga Pasar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td align="right" rowspan="2"> </td>
                                            <td align="right"><b>{{data.booking.investments.length}} Unit</b></td>
                                            <td align="right">Rp</td>
                                            <td align="right"><b>{{data.booking.rate|number:2}}</b></td>
                                            <td align="right">Rp</td>
                                            <td align="right"><b>{{data.booking.marketRate|number:2}}</b></td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="5" >{{temp.site.name}}, {{temp.site.address}}, {{temp.site.province}}</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="investment in data.booking.investments"  class="gradeX">
                                            <td class="dt-center"><input type="radio" name="setInvestment" ng-model="temp.sInvestment" ng-value="investment" ng-change="setInvestment()"></td>
                                            <td>{{investment.aparkost.tower.name}} lt. {{investment.aparkost.floor}} no. {{investment.aparkost.name}}</td>

                                            <td align="center">Rp</td>
                                            <td align="right">{{investment.soldRate|number:2}}</td>
                                            <td align="center">Rp</td>
                                            <td align="right">{{investment.marketRate|number:2}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <span class="help-block m-b-none"><small>Tambahkan</small></span>
                                <select class="form-control m-b" ng-init="site === temp.site" ng-disabled="data.booking.investments.length" ng-change="getTowers()" ng-model="temp.site" ng-options="site as site.name for site in lookup.sites"></select>
                            </div>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Tower</small></span>
                                <select class="form-control m-b" ng-init="tower === temp.tower" ng-change="getInvestments()" ng-model="temp.tower" ng-options="tower as tower.name for tower in lookup.towers"></select>
                            </div>

                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-lg-2">
                                <span class="help-block m-b-none">
                                    <small>Unit</small>
                                </span>
                                <select class="form-control m-b" ng-init="investment === temp.investment"  ng-model="temp.investment" ng-value="investment" ng-options="investment as investment.aparkost.name for investment in lookup.investments"></select>
                            </div>
                            <div class="col-lg-2">
                                <span class="help-block m-b-none">
                                    <small>Lantai</small>
                                </span>
                                <input type="text" class="form-control" readonly="" ng-model="temp.investment.aparkost.floor">
                            </div>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Harga</small></span>
                                <div class="input-group m-b">
                                    <span class="input-group-addon">Rp</span> <input type="text" class="form-control text-right" ng-disabled="!temp.investment.aparkost.floor" ng-model="temp.investment.soldRate" ng-value="temp.investment.soldRate = temp.investment.soldRate > 0 ? temp.investment.soldRate : temp.investment.marketRate ">
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <button class="btn btn-info " ng-click="addInvestment()"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-warning " ng-click="removeInvestment()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Tanda Jadi</small></span>
                                <div class="input-group m-b"><span class="input-group-addon">Rp</span> 
                                    <input type="number" class="form-control text-right" ng-disabled="!data.booking.investments.length && data.booking.investments.length < 1" ng-model="data.booking.bookRate" ng-init="data.booking.bookRate = 0">
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Sisa Pembayaran</small></span>
                                <div class="input-group m-b"><span class="input-group-addon">Rp</span> 
                                    <input type="text" class="form-control text-right" ng-disabled="true" ng-value="data.booking.rate-data.booking.bookRate" ng-init="0">
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-default" type="submit" ng-click="doBook()" ng-disabled="data.booking.bookFee <= 0">Booking</button>
                                <button class="btn btn-primary" type="submit" ng-click="cancelBook()" ng-disabled="data.booking.bookFee <= 0">Batalkan</button>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
