<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Akad <small>.Aparkost</small></h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <h3>Pihak Pertama <small>PT. Ibnu Auf Global Investama</small></h3>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pemangku Kuasa</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" ng-init="cStaff.rank.id == dInput.selectedCStaffId" ng-change="selectCStaff()" ng-model="dInput.selectedCStaffId" ng-options="cStaff.id as cStaff.rank.name for cStaff in data.covenantStaff"></select>
                            </div>
                        </div>
                        <div class="form-group m-b-none">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>Nama</small></span><p class="form-control-static">{{data.selectedCStaff.fullName}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>NIK</small></span><p class="form-control-static">{{data.selectedCStaff.nationalId}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Jabatan</small></span><p class="form-control-static">{{data.selectedCStaff.rank.name}}</p></div>
                        </div>

                        <div class="form-group m-b-none">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>TTL</small></span><p class="form-control-static">{{data.selectedCStaff.birthPlace}}, {{data.selectedCStaff.birthDate}}</p></div>
                            <div class="col-sm-6"><span class="help-block m-b-none"><small>Alamat</small></span><p class="form-control-static">{{data.selectedCStaff.address}}</p></div>
                        </div>
                        <h5>Pihak Kedua</h5>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Investor Id </label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="data.cInvestor.accountId" > 
                                    <span class="input-group-btn"> 
                                        <button type="button" class="btn btn-info" ng-click="getAccount()" ><i class="fa fa-check"></i></button> 
                                    </span>
                                </div>

                            </div>

                        </div>

                        <div class="form-group m-b-none">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>Nama</small></span><p class="form-control-static">{{data.cInvestor.fullName}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>NIK/Passport</small></span><p class="form-control-static">{{data.cInvestor.nationalId}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Pekerjaan</small></span><p class="form-control-static">{{data.cInvestor.occupation}}</p></div>
                        </div>
                        <div class="form-group m-b-none">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>Kewarganegaraan</small></span><p class="form-control-static">{{data.cInvestor.nationality}}</p></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Email</small></span><p class="form-control-static">{{data.cInvestor.emailAddress}}</p></div>
                        </div>

                        <div class="form-group m-b-none">
                            <span class="col-sm-2 control-label"></span>
                            <div class="col-sm-4"><span class="help-block m-b-none"><small>TTL</small></span><p class="form-control-static">{{data.cInvestor.birthPlace}}, {{data.cInvestor.birthDate}}</p></div>
                            <div class="col-sm-6"><span class="help-block m-b-none"><small>Alamat</small></span><p class="form-control-static">{{data.cInvestor.address}}</p></div>
                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-8">
                                <span class="help-block m-b-none"><small>Investasi</small></span>
                                <span class="help-block m-b-none"><small></small></span>
                                <table class="table table-striped table-bordered table-hover dataTables-example" style="font-size: 85% !important;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Unit</th>
                                            <th>Site</th>
                                            <th colspan="2">Harga Unit</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td align="right" colspan="2">Jumlah </td>
                                            <td align="right"><b>{{data.acquisition.investments.length}} Unit</b></td>
                                            <td align="right">Rp</td>
                                            <td align="right">{{data.acquisition.totalFee}}</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="cInvestment in data.acquisition.investments"  class="gradeX">
                                            <td class="dt-center"><input type="radio" value="" name="selectedAparkost"></td>
                                            <td>{{cInvestment.aparkost.tower.name}} lt. {{cInvestment.aparkost.floor}} no. {{cInvestment.aparkost.name}}</td>
                                            <td>{{data.selectedSite.name}}, {{data.selectedSite.address}},{{data.selectedSite.province}}</td>
                                            <td align="center">Rp</td>
                                            <td align="right">{{cInvestment.marketRate}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <span class="help-block m-b-none"><small>Tambahkan</small></span>
                                <select class="form-control m-b" ng-init="site.id === dInput.selectedSiteId" ng-change="selectSite()" ng-model="dInput.selectedSiteId" ng-options="site.id as site.name for site in data.site"></select>
                            </div>
                            <div class="col-sm-3">
                                <span class="help-block m-b-none"><small>Tower</small></span>
                                <select class="form-control m-b" ng-init="tower.id === dInput.selectedTowerId" ng-change="selectTower()" ng-model="dInput.selectedTowerId" ng-options="tower.id as tower.name for tower in data.tower"></select>
                            </div>

                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-lg-2">
                                <span class="help-block m-b-none">
                                    <small>Unit</small>
                                </span>
                                <select class="form-control m-b" ng-init="investment.id === dInput.selectedInvestmentId" ng-change="selectInvestment()"  ng-model="dInput.selectedInvestmentId" ng-options="investment.id as investment.aparkost.name for investment in data.investment"></select>
                            </div>
                            <div class="col-lg-2">
                                <span class="help-block m-b-none">
                                    <small>Lantai</small>
                                </span>
                                <input type="text" class="form-control" readonly="" ng-model="data.selectedInvestment.aparkost.floor">
                            </div>
                            <div class="col-sm-2">
                                <span class="help-block m-b-none">
                                    <small>*</small>
                                </span>
                                <button class="btn btn-info " type="submit" ng-click="addCInvestment()"><i class="fa fa-check"></i></button>
                                <button class="btn btn-warning " type="submit"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Pembelian</span>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Tanda Jadi</small></span><div class="input-group m-b"><span class="input-group-addon">Rp</span> <input type="text" class="form-control text-right" ng-model="data.acquisition.bookingFee" ui-mask="999.999.999.9999"></div></div>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Uang Muka</small></span><div class="input-group m-b"><span class="input-group-addon">Rp</span> <input type="text" class="form-control text-right" ng-model="data.acquisition.dpFee"></div></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-sm-3"><span class="help-block m-b-none"><small>Sisa Pembayaran</small></span><div class="input-group m-b"><span class="input-group-addon">Rp</span> <input type="text" class="form-control text-right" ng-model="data.acquisition.payableFee" ng-value="data.acquisition.payableFee = data.acquisition.totalFee - data.acquisition.bookingFee - data.acquisition.dpFee" readonly=""></div></div>
                            <div class="col-sm-2">
                                <span class="help-block m-b-none"><small>Metode Pembayaran</small></span>
                                <select class="form-control" ng-init="data.acquisition.type = 'INSTALLMENT'"  ng-model="data.acquisition.type" >
                                    <option value="CASH">Kontan</option>
                                    <option value="SOFT_INSTALLMENT">Cicilan Lunak</option>
                                    <option value="INSTALLMENT">Cicilan</option>
                                </select>
                            </div>
                            <div class="col-sm-2" ng-show="data.acquisition.type === 'SOFT_INSTALLMENT'">
                                <span class="help-block m-b-none"><small>Bulan</small></span>
                                <select class="form-control m-b" ng-init="data.acquisition.nPeriod = '6'" ng-model="data.acquisition.nPeriod" >
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="12">12</option>
                                    <option value="18">18</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group  m-b-none">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-6">
                                <span class="help-block m-b-none"><small>Simulasi Pembayaran</small></span>
                                <table class="table table-striped table-bordered table-hover dataTables-example" style="font-size: 85% !important;">
                                    <thead>
                                        <tr>
                                            <th>Tahapan</th>
                                            <th colspan="2">Jumlah</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr class="gradeX"  ng-show="data.acquisition.type === 'INSTALLMENT'">
                                            <td>Angsuran 1 - 27 dengan Jatuh Tempo pada tanggal 2 tiap bulannya</td>
                                            <td>Rp</td>
                                            <td align="right">{{$scope.data.acquisition.rate = data.acquisition.payableFee/27|number:2}}</td>
                                        </tr>
                                        <tr class="gradeX"  ng-show="data.acquisition.type === 'SOFT_INSTALLMENT'">
                                            <td>Pembayaran akan diselesaikan dalam masa {{data.acquisition.nPeriod}} bulan, dengan rerata</td>
                                            <td>Rp</td>
                                            <td align="right">{{$scope.data.acquisition.rate = data.acquisition.payableFee/data.acquisition.nPeriod|number:2}}</td>
                                        </tr>
                                        <tr class="gradeX"  ng-show="data.acquisition.type === 'CASH'">
                                            <td>Terbayar <b>Lunas</b> sebesar</td>
                                            <td>Rp</td>
                                            <td align="right">{{$scope.data.acquisition.rate = data.acquisition.payableFee|number:2}}</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr class="gradeX">
                                            <td>Tanda Jadi</td>
                                            <td>Rp</td>
                                            <td align="right">{{data.acquisition.bookingFee|number:2}}</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Uang Muka</td>
                                            <td>Rp</td>
                                            <td align="right">{{data.acquisition.dpFee|number:2}}</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Hutang Pembayaran</td>
                                            <td>Rp</td>
                                            <td align="right">{{data.acquisition.payableFee|number:2}}</td>
                                        </tr>
                                        <tr class="gradeX">
                                            <td>Total</td>
                                            <td>Rp</td>
                                            <td align="right">{{data.acquisition.totalFee|number:2}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-default" type="submit">Draft</button>
                                <button class="btn btn-primary" type="submit">Proses</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
